@import "tailwindcss";

@theme {
  --color-primary-1: #dcf2fa;
  --color-primary-2: #aadaf9;
  --color-primary-3: #48aff0;
  --color-primary-4: #1075dc;
  --color-primary-5: #0158ae;

  --color-success-1: #cef2d5;
  --color-success-2: #9de5ab;
  --color-success-3: #38b95e;
  --color-success-4: #239e47;
  --color-success-5: #1f7931;

  --color-warning-1: #feefcb;
  --color-warning-2: #fcdea4;
  --color-warning-3: #ffb829;
  --color-warning-4: #de990f;
  --color-warning-5: #8c6500;

  --color-danger-1: #f8e8e8;
  --color-danger-2: #f7c4c4;
  --color-danger-3: #f16c6c;
  --color-danger-4: #e32d2d;
  --color-danger-5: #c60d0d;

  --color-gray-1: #f9fafb;
  --color-gray-2: #f1f3f4;
  --color-gray-3: #e7e9ed;
  --color-gray-4: #ccd2db;
  --color-gray-5: #98a1b2;
  --color-gray-6: #8790a4;
  --color-gray-7: #646e82;
  --color-gray-8: #323c4d;
  --color-gray-9: #1d2939;

  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;

  --radius-2: 2px;
  --radius-3: 3px;
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;

  --text-10: 10px;
  --text-11: 11px;
  --text-12: 12px;
  --text-13: 13px;
  --text-15: 15px;
  --text-17: 17px;
  --text-20: 20px;
  --text-23: 23px;

  --line-height-15: 15px;
  --line-height-16: 16px;
  --line-height-20: 20px;
  --line-height-24: 24px;
  --line-height-28: 28px;
  --line-height-32: 32px;
}

/* Tabulator styles */
.tabulator {
  font-size: var(--text-13) !important;
  border: none !important;
  border-left: 1px solid var(--color-gray-3) !important;
  border-bottom: 1px solid var(--color-gray-3) !important;
  background-color: white !important;
}

.tabulator .tabulator-header {
  background-color: var(--color-gray-1) !important;
  border-top: 1px solid var(--color-gray-3) !important;
  border-bottom: 1px solid var(--color-gray-3) !important;
}

.tabulator .tabulator-header .tabulator-col {
  background-color: var(--color-gray-1) !important;
  border-right: 1px solid var(--color-gray-3) !important;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-title {
  font-weight: var(--font-weight-semibold) !important;
  color: var(--color-gray-7) !important;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content,
.tabulator-row .tabulator-cell {
  padding-left: var(--spacing-12) !important;
  padding-right: var(--spacing-12) !important;
  padding-top: var(--spacing-8) !important;
  padding-bottom: var(--spacing-8) !important;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-sorter {
  margin-left: 4px !important;
}

.tabulator .tabulator-row:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-3) !important;
}

.tabulator .tabulator-cell {
  border-color: var(--color-gray-3) !important;
  font-size: var(--text-13) !important;
  color: var(--color-gray-8) !important;
  line-height: var(--line-height-20) !important;
}

.tabulator .tabulator-row:hover {
  background-color: var(--color-gray-1) !important;
}

.tabulator .tabulator-row-even {
  background-color: white !important;
}

:root {
  --wa-font-size-scale: 1;
  --wa-font-size-2xs: round(calc(var(--wa-font-size-xs) / 1.181), 1px);
  --wa-font-size-xs: round(calc(var(--wa-font-size-s) / 1.181), 1px);
  --wa-font-size-s: round(calc(var(--wa-font-size-m) / 1.181), 1px);
  --wa-font-size-m: calc(0.813rem * var(--wa-font-size-scale));
  --wa-font-size-l: round(calc(var(--wa-font-size-m) * 1.181 * 1.181), 1px);
  --wa-font-size-xl: round(calc(var(--wa-font-size-l) * 1.181 * 1.181), 1px);
  --wa-font-size-2xl: round(calc(var(--wa-font-size-xl) * 1.181 * 1.181), 1px);
  --wa-font-size-3xl: round(calc(var(--wa-font-size-2xl) * 1.181 * 1.181), 1px);
  --wa-font-size-4xl: round(calc(var(--wa-font-size-3xl) * 1.181 * 1.181), 1px);
  --wa-font-size-smaller: round(calc(1em / 1.181), 1px);
  --wa-font-size-larger: round(calc(1em * 1.181 * 1.181), 1px);

  --wa-line-height-condensed: 1.1;
  --wa-line-height-normal: 1.54;
  --wa-line-height-expanded: 1.5;

  --wa-color-brand-fill-loud: var(--color-primary-4);
  --wa-color-brand-fill-quiet: var(--color-primary-1);
  --wa-color-brand-fill-normal: var(--color-primary-1);
  --wa-color-success-fill-loud: var(--color-success-4);
  --wa-color-success-fill-quiet: var(--color-success-1);
  --wa-color-success-fill-normal: var(--color-success-1);
  --wa-color-warning-fill-loud: var(--color-warning-4);
  --wa-color-warning-fill-quiet: var(--color-warning-1);
  --wa-color-warning-fill-normal: var(--color-warning-1);
  --wa-color-danger-fill-loud: var(--color-danger-4);
  --wa-color-danger-fill-quiet: var(--color-danger-1);
  --wa-color-danger-fill-normal: var(--color-danger-1);

  --wa-color-brand-on-normal: var(--color-primary-5);

  --wa-color-neutral-border-loud: var(--color-gray-4);
  --wa-color-neutral-border-quiet: var(--color-gray-2);
  --wa-color-neutral-border-normal: var(--color-gray-3);
}

[size="small"] {
  --wa-font-size-s: 11px;
  --wa-form-control-height: 24px;
  --wa-form-control-padding-inline: 8px;
}

[size="medium"] {
  --wa-font-size-m: 13px;
  --wa-form-control-height: 32px;
  --wa-form-control-padding-inline: 12px;
}

[size="large"] {
  --wa-font-size-l: 15px;
  --wa-form-control-height: 40px;
  --wa-form-control-padding-inline: 20px;
}

[size="medium"] wa-icon[slot="start"] {
  margin-inline-end: 8px;
}

[size="medium"] wa-icon[slot="end"] {
  margin-inline-start: 8px;
}
wa-button[size="small"] wa-icon {
  font-size: 12px;
}

wa-button[size="medium"] wa-icon,
wa-button[size="large"] wa-icon {
  font-size: 16px;
}

wa-badge {
  font-size: var(--text-11);
  padding: 4px 6px;
}
